DATABASE_URL=mysql://root:misp@localhost:3306/misp
HASH_SECRET=h1aLD199Swnh42LLHAzEzMKIVmq
WORKER_KEY=GcXh5TAq8RxYvdTpdioP0nI20Le
OWN_URL=http://localhost:4000
WORKER_URL=https://worker.mmisp.service
DASHBOARD_URL=https://dashboard.mmisp.service
