Aaron <udzht@student.kit.edu> udzht <udzht@student.kit.edu> AextraGit <udzht@student.kit.edu>
Jakob Christoph Vogler <uzjcs@student.kit.edu> uzjcs <uzjcs@student.kit.edu>
Jonathan Andreas Full <uvmbf@student.kit.edu> Jonathan <uvmbf@student.kit.edu> uvmbf <uvmbf@student.kit.edu>
Maximilian Supp <uqney@student.kit.edu> Maximilian <uqney@student.kit.edu> uqney <uqney@student.kit.edu>
Timo <unjky@student.kit.edu> unjky <unjky@student.kit.edu>